{% extends '@SynoliaSyliusGDPRPlugin/Admin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.synolia_gdpr.advanced_actions.title'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default(
        'sylius.ui.admin.synolia_gdpr.advanced_actions.title'|trans,
        'cogs',
    ) }}
    {% block breadcrumb %}
        {% set breadcrumbs = breadcrumbs|merge([
            { label: 'sylius.ui.admin.synolia_gdpr.advanced_actions.title'|trans }
        ]) %}
        {{ parent() }}
    {% endblock %}

    {% for form in forms %}
        <div class="ui segment">
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
            <div class="ui field">
                {{ form_label(form)}}
            </div>
        {{ form_end(form) }}
        </div>
    {% endfor %}
{% endblock %}
