{% if
    sylius_plus_rbac_gdpr_has_permission("synolia_sylius_gdpr_admin_anonymize_customer") or
    sylius_plus_rbac_gdpr_has_permission("synolia_sylius_gdpr_admin_export_customer_data")
%}
    {% set customer = hookable_metadata.context.customer %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">{{ 'sylius.ui.admin.synolia_gdpr.customer.gdpr_title'|trans }}</div>
            <div class="d-inline-flex gap-1">
                <form class=""
                      action="{{ path('synolia_sylius_gdpr_admin_anonymize_customer', {'id': customer.id}) }}"
                      method="post">
                    <button class="btn btn-dark" type="submit" data-requires-confirmation>
                        {{ ux_icon('mingcute:broom-line') }}
                        {{ 'sylius.ui.admin.synolia_gdpr.customer.anonymize'|trans }}
                    </button>
                </form>
                <a
                        href="{{ path('synolia_sylius_gdpr_admin_export_customer_data', {'id': customer.id}) }}"
                        class="btn btn-primary"
                >{{ ux_icon('tabler:database-export') }}{{ 'sylius.ui.admin.synolia_gdpr.customer.export_data'|trans }}</a>
            </div>
        </div>
    </div>
{% endif %}
